/* サイドバーのスタイル */
.sidebar {
  width: 20%; /* サイドバーの幅 */
  position: fixed; /* スクロールしてもサイドバーは固定 */
  top: 0;
  bottom: 0;
  left: 0; /* 左側に固定 */
  background-color: #eaeaea; /* サイドバーの背景色 */
  padding: 20px; /* 内部のパディング */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-main-heading{
  color: #737272; /* 色を変更 */
  font-size: 15px; /* フォントサイズを変更 */
  font-weight: bold; /* フォントの太さを変更 */
}

.sidebar-sub-heading{
  color: #737272; /* 色を変更 */
  font-size: 13px; /* フォントサイズを変更 */
  font-weight: bold; /* フォントの太さを変更 */
}

/* リスト全体にスペースを追加 */
.sidebar ul {
  padding-top: 20px;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

/* 見出し1（親項目）のリスト項目 */
.sidebar-item {
  margin-bottom: 15px;
  display: block;
}

/* サブリスト項目のスタイル */
.sidebar-subitem {
  padding-left: 20px;
  margin-bottom: 10px;
  display: block;
  text-align: left; /* サブリストは左揃え */
}

/* バレットのデザイン（見出し1のバレット） */
.bullet {
  width: 10px;
  height: 10px;
  background-color: #a6afb0;
  border-radius: 3px;
  display: inline-block; /* インライン要素として扱う */
  margin-right: 10px;
}

/* サブリスト（見出し2）のバレット */
.bullet-sub {
  width: 5px;
  height: 5px;
  background-color: #c5c5c5;
  border-radius: 50%;
  display: inline-block; /* インライン要素として扱う */
  margin-right: 10px;
}


@media (max-width: 1300px) {
  .sidebar {
    display: none; /* モバイルでは左側サイドバーを非表示にする */
  }
}

.sidebar-main-heading.active {
  color: rgb(183, 183, 183); /* アクティブな項目の色 */
  font-weight: bold;
}

.sidebar-main-heading {
  display: inline-block; /* モーションを適用できるように */
  transition: transform 0.3s ease; /* 移動時のモーション */
}

.sidebar-main-heading.active {
  transform: translateX(10px); /* アクティブ時に右に10px移動 */
  font-weight: bold; /* 強調 */
}
