.portfolio-header-img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.about-container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.profile-content {
  background-color: rgb(228, 241, 242);
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
}

.profile-img {
  width: 25vw;
  max-width: 200px; /* 最大幅を設定 */
  border-radius: 50%;
  aspect-ratio: 1 / 1; /* 縦横比を1:1に指定（正方形） */
}

.profile-info {
  padding-left: 20px; /* 既存の余白 */
  margin-left: 20px; /* アイコンとの間に追加の間隔を設定 */
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile-info h3{
  text-align: center;
}

.social-links {
  margin-top: 15px;
  display: flex;
  gap: 10px; /* アイコン間のスペース */
}

.social-icon {
  width: 30px; /* アイコンの幅 */
  height: 30px; /* アイコンの高さ */
}

.about-website-content {
  margin-top: 50px;
  background-color: rgb(228, 241, 242);
  padding: 20px;
  border-radius: 15px;
}

.skills-content{
  margin-top: 50px;
  background-color: rgb(228, 241, 242);
  padding: 20px;
  border-radius: 15px;
}

.about-website-section h1 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 15px;
}

.skills-subsection h2 {
  text-align: center;
  margin-bottom: 50px;
}

.tech-section {
  margin-top: 30px;
}

.tech-section h2 {
  text-align: center;
  margin-bottom: 50px;
}

.tech-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tech-item {
  text-align: center;
  margin-bottom: 20px;
  width: 150px;
}

.tech-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.tech-descriptions li {
  font-size: 1em;
  margin-bottom: 10px;
}

/* ぼやけエフェクトの定義 */
.blur-in {
  filter: blur(8px);
  opacity: 1;
  transition: filter 1s ease-out, opacity 1s ease-out;
}

.blur-in.visible {
  filter: blur(0);  /* クリアにする */
  opacity: 1;  /* 表示 */
}
